/* Main container for the entire layout */
.layoutContainer {
  display: flex;
  height: 100vh; /* Full height of the viewport */
  justify-content: space-between; /* Space between ensures elements are pushed to the edges */
  align-items: flex-start; /* Aligns items to the top */
}

.leftPanel {
  flex: 1; /* Allows panels to grow */
  min-width: 400px; /* Minimum width */
  max-width: 30%; /* Adjusted maximum width */
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally center */
  position: relative; /* Change to relative to make the left property effective */
  padding-top: 100px;
}

.rightPanel {
  flex: 1; /* Allows panels to grow */
  min-width: 400px; /* Minimum width */
  max-width: 30%; /* Adjusted maximum width */
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally center */
  position: relative; /* Change to relative to make the left property effective */
  left: 30px;
  left: 50px;
}

/* Middle panel for chatlist and prompt form */
.middlePanel {
  position: absolute; /* Position absolute to place it over the layoutContainer */
  left: 50%; /* Position to the center of the layoutContainer */
  transform: translateX(-50%); /* Translate to the left by half its width to center */
  width: calc(100% - 600px); /* Subtracting total width of left and right panels */
  max-width: 850px; /* Maximum width */
  min-width: 500px; /* Minimum width to ensure it doesn't get too small */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  overflow-y: auto; /* Ensure this is not overridden somewhere else */
  overflow-x: hidden;
  padding-bottom: 120px;
}

/* Chatlist container with scrollable content */
.chatListContainer {
  max-height: calc(100vh - 120px - 100px);
  width: 100%;
  margin: auto;
  padding: 50px 60px;
  box-sizing: border-box;
  overflow-y: auto; /* Ensures vertical scroll */
  overflow-x: hidden;
  padding-bottom: 20px;
  padding-top: 60px;
}

/* For WebKit (Chrome, Safari, newer versions of Opera): */
.chat-list-container::-webkit-scrollbar {
  width: 10px;
}
.chat-list-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.chat-list-container::-webkit-scrollbar-thumb {
  background: #888;
}
.chat-list-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For Firefox: */
.chat-list-container {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* Metadata container */
.metadataContainer {
  width: 100%; /* Use 100% of the rightPanel width */
  max-width: 600px; /* Example max-width */
  max-height: calc(100vh - 120px - 100px);
  margin-left: 10px; /* Align to the left by setting left margin */
  margin-right: auto; /* Keeps right margin automatic */
  padding: 1rem;
  overflow-y: auto; /* Allows vertical scrolling if content overflows */
  overflow-x: hidden; /* Hides horizontal scrollbar and wraps text */
  word-wrap: break-word; /* Allows long words to be broken and wrapped to the next line */
  white-space: normal; /* Normal text wrapping */
  transition: transform 0.3s; /* Smooth transition for sliding in/out */
  z-index: 10; /* Ensure it's above other content */
  padding-right: 10%;
  padding-left: 5%;
}

/* Style for the button to toggle the metadata view */
.toggleMetadataButton {
  display: none; /* Hide by default, will be shown in media query for mobile */
  position: fixed;
  right: 1rem;
  bottom: 130px; /* Increased distance from bottom */
  background-color: #333; /* Example color */
  color: #fff;
  padding: 6px 12px; /* Reduced padding */
  font-size: 0.8rem; /* Smaller font size */
  cursor: pointer;
  z-index: 20; /* Above the metadata panel */
}

.metadataTitle {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.customMarkdownFont {
  font-size: 1.1rem; /* Adjust the font size as needed */
}

.customMarkdownFontMobile {
  font-size: 0.89rem; /* Set your desired font size for mobile */
}

@media (max-width: 767px) {
  .customMarkdownFont {
    font-size: 0.89rem !important; /* Adjust the font size as needed */
  }

  .leftPanel, .rightPanel {
    display: none; /* Hide left and right panels on mobile */
  }

  .middlePanel {
    position: static;
    left: auto;
    transform: none;
    width: 100%; /* Full width of the viewport */
    max-width: none;
    min-width: 0; /* Remove minimum width for mobile */
    padding-bottom: 20px; /* Adjust padding for mobile */
  }

  .chatListContainer {
    padding: 20px; /* Adjusted padding for mobile */
    width: 100%; /* Ensure it takes full width */
    max-height: calc(100vh - 20px); /* Adjust max-height for mobile */
    margin: 0; /* Reset margin */
    padding-top: 35px;
    padding-bottom: 200px;
  }
  
  .metadataContainer {
    position: fixed; /* Fixed position for mobile */
    top: 0;
    right: -100%; /* Initially off-screen */
    height: 100%;
    width: 80%; /* Adjust width as needed */
    transform: translateX(100%); /* Positioned off-screen */
    transition: transform 0.3s; /* Smooth transition */
    z-index: 30; /* Above other elements */
  }

  .metadataContainerActive {
    transform: translateX(0); /* Bring into view */
  }

  .toggleMetadataButton {
    display: block; /* Show the toggle button on mobile */
  }

}


@media screen and (max-width: 768px) {
  .mobileHide {
    display: none;
  }
}


@media (min-width: 768px) {
  /* Adjustments for larger screens where the metadata can be shown inline */
  .metadataContainer {
    position: static; /* Back to the normal document flow */
    right: auto; /* No longer off-screen */
    transform: none; /* No transform needed */
  }
}

