.flexContainer {
  display: flex;
  justify-content: center; /* Centers children horizontally */
  gap: 20px; /* Adjust if the gap is too wide */
}

.chatListContainer {
  max-height: 80vh;
  overflow-y: auto;
  flex-grow: 1;
  padding-bottom: 200px;
  padding-top: 16px;
}

.metadataContainer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 300px; /* Adjust if the container is too narrow or too wide */
}