/* Main container for chatlist and prompt form */
.chatAndPromptContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 3xl;
  margin: auto;
  height: 97vh; /* Full height of the viewport */
}

/* Chatlist container with scrollable content */
.chatListContainer {
  max-height: calc(100vh - 12ac0px); /* Subtract the height of the prompt form */
  overflow-y: auto;
  padding-bottom: 200px;
  padding-top: 5px;
  flex-grow: 1;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Metadata container with fixed widaczth */
.metadataContainer {
  width: 400px;
  padding: 1rem;
  overflow-y: auto;
  position: fixed; /* Fixed position to place it off-screen */
  right: -400px; /* Start off-screen to the right */
  top: 0; /* Align to the top */
  height: 100%; /* Full height */
  transition: right 0.3s; /* Smooth transition for sliding in/out */
  z-index: 10; /* Ensure it's above other content */
}

/* Styling for metadata list items and title */
.metadataListLink, .metadataListSpan, .metadataListExtraInfo {
  padding-right: 0;
}

.metadataTitle {
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

/* ChatPanel styling, ensuring it aligns with chat container */
.promptFormContainer {
  box-sizing: border-box;
}

/* Style when the metadata container is active/visible */
.metadataContainerActive {
  right: 0; /* Slide in to be fully visible */
}

/* Style for the button to toggle the metadata view */
.toggleMetadataButton {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #333; /* Example color */
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 20; /* Above the metadata panel */
}

@media (min-width: 768px) {
  /* Adjustments for larger screens where the metadata can be shown inline */
  .metadataContainer {
    position: static; /* Back to the normal document flow */
    right: auto; /* No longer off-screen */
    height: auto; /* Adjust height as necessary */
    transition: none; /* No transition needed */
  }

  .toggleMetadataButton {
    display: none; /* Hide the toggle button on larger screens */
  }
}