.metadataList {
  list-style: none;
  padding: 0;
  font-size: 1rem;
  padding-right: 10px;
}

.metadataListItem {
  display: flex;
  align-items: center; /* Align items to the center */
  color: #bbb;
  word-wrap: break-word;
  margin-bottom: 15px;
}

.metadataListItem:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Brighten background on hover */
}

.metadataListItem:last-child {
  border-bottom: none;
}

.metadataListLink {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-right: 1rem;
  word-wrap: break-word;
}


.metadataListSpan {
  display: block;
  margin-top: 0.5rem;
  color: #666;
}

.metadataListDetails {
  word-wrap: break-word;
  word-break: break-word;
}


.metadataListExtraInfo {
  margin-right: 0.5rem;
}

.metadataListDot {
  font-size: 1.5rem;
  line-height: 0;
}


.metadataInfo {
  display: block;
  white-space: normal; /* Change to allow wrapping */
  overflow: hidden;
  text-overflow: ellipsis;
}

.metadataThumbnail {
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  margin-right: 20px;
  overflow: hidden;
}


.metadataThumbnail img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Change to 'contain' to prevent zooming */
}


.metadataContent {
  flex-grow: 1;
  font-size: 1.05rem;
}

.metadataListLink {
  display: block;
  font-weight: bold;
}

.metadataListSpan {
  display: block;
  color: #666;
}