.questionsOverlay {
  display: flex;
  flex-direction: column; /* Stack boxes vertically */
  gap: 8px; /* Space between boxes */
  padding: 8px; /* Padding inside the overlay */
  padding-top: 120px; /* Space from top of the container */
  width: 100%; /* Fill the width of the left panel */
  align-items: center; /* Center content vertically */
}

.questionBox {
  border: 2px solid white;
  border-radius: 8px;
  padding: 2px; /* Reduced padding */
  height: 80px; /* Fixed height */
  width: 90%; /* Increase the width, for example, to 90% of the parent container */
  box-sizing: border-box;
  display: flex;
  align-items: flex-start; /* Align content to the top */
  justify-content: flex-start; /* Align content to the left */
  margin: auto; /* Center the box within the container */
}

.question {
  font-size: 0.8rem; /* Reduced font size */
  text-align: left;
  white-space: normal;
  overflow: hidden;
  margin-right: 4px; /* Right margin for some breathing room */
}

.shuffleButton {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  margin-top: 8px; /* Add space above the shuffle button */
  align-self: center; /* Center the button in the layout */
}

@media screen and (max-width: 600px) {
  .question {
    font-size: 0.75rem; /* Smaller font size for smaller screens or longer texts */
  }
}