.questionsOverlay {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates a 2x2 grid */
  gap: 8px;
  padding: 8px;
  padding-top: 120px; /* Adjust as necessary for spacing from top */
  width: 100%; /* Fill the width of the left panel */
}

.questionBox {
  border: 2px solid white;
  border-radius: 8px;
  padding: 16px;
  min-height: 100px; /* Minimum height to maintain uniform size */
  box-sizing: border-box;
  word-wrap: break-word;
  font-size: 1rem; /* Adjust font size based on content */
  display: flex; /* To use justify-content and align-items */
  justify-content: left; /* Align text to the left */
  align-items: center; /* Vertically center content */
}

.question {
  font-size: 0.9rem; /* Adjust font size based on content */
  text-align: left; /* Align text to the left */
  white-space: normal; /* Allow text wrapping */
}

.shuffleButton {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  margin-top: 8px; /* Add space above the shuffle button */
  align-self: center; /* Center the button in the grid */
}

@media screen and (max-width: 600px) {
  .question {
    font-size: 0.75rem; /* Smaller font size for smaller screens or longer texts */
  }
}