.questionsOverlay {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 60px;
  width: 100%; /* Match the width of the leftPanel */
  align-items: center; /* Center content vertically */
}

.questionBox {
  border: 2px solid white;
  border-radius: 8px;
  padding: 5px;
  height: 100px; /* Fixed height */
  width: 300px; /* Fixed width, adjust as needed */
  box-sizing: border-box;
  display: flex;
  align-items: center; /* Vertical alignment */
  justify-content: flex-start;
  margin: auto; /* Center the box within the container */
}

.question {
  padding-top: 10px; /* Add padding to the top of each question */
  text-align: left;
  word-wrap: break-word; /* Allows long words to be broken and wrapped to the next line */
  white-space: normal; /* Normal text wrapping */
  line-height: 1.2; /* Adjust as needed */
}
/*overflow: hidden;*/


.shuffleButton {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  margin-top: 8px; /* Space above the button */
  align-self: center; /* Center the button */
}

@media screen and (max-width: 600px) {
  .question {
    font-size: 0.75rem;
    align-self: center; /* Center the button */
  }
}